# MongoDB Database Connection
# Para execução local fora do Docker: mongodb://localhost:27017/musicas-missa
# Para execução via Docker Compose: mongodb://mongodb:27017/musicas-missa
MONGO_URI=mongodb://localhost:27017/musicas-missa

# Backend Port
PORT=3333

# Frontend API URL
VITE_API_URL=http://localhost:3333
